@model DoAn2.Models.DatHang
@{
    ViewBag.Title = "Đặt hàng thành công";
}
<div class="container box" style="margin:20px auto;">
    <h2 class="page-header">Thông báo</h2>
    <h3>
        Đơn đặt hàng của bạn đã hoàn tất.<br />
        Số hóa đơn: @Model.DatHangID
    </h3>
</div>

